
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Arial', sans-serif;
  margin: 0;
}


[data-theme='light'] {
  --foreground: #1C1C1C;
  --background: #EFEFEF;
}


[data-theme='dark'] {
  --foreground: #E0E0E0;
  --background: #121212;
}


a {
  color: #FF3B3F;
  text-decoration: none;
}

a:hover {
  color: #1C1C1C;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 30s linear infinite;
}

.animate-marquee > div {
  min-width: 16rem;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    max-width: 100%;
  }
}
